*
{
	margin: 0;
	padding: 0;
	font-family: 'Quicksand', sans-serif;
}
body
{
	background-color: #fffff4;
}
#outer
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#header
{
	width: 100%;
	height: 20%;
	position: absolute;
	top: 0;
	left: 0;	
}
#header > #headerfirst
{
	width: 100%;
	height: 50%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-bottom:1px solid #d0d0d0;
	border-radius:0 3px 3px 0;
	color:#444;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
}
#header > #headerfirst > #logo
{
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
#header > #headerfirst > #logo > h2
{
	position: absolute;
	width: 100%;
	text-align: center;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#header > #headerfirst > #barbutton
{
	width: 20%;
	height: 100%;
	position: absolute;
	top: 0;
	right: 5%;
}
#header > #headerfirst > #barbutton > h3
{
	position: absolute;
	width: max-content;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	color: #747d8c;
	cursor: pointer;
}
#header > #headerfirst > #sidenav
{
	position: absolute;
    top: 100%;
    right: 0%;
    z-index: 1;
    background-color: #fff;
    border: 1px solid #e4e4e4;
    border-radius: 0px 0px 25px 25px;
    text-align: center;
    display: none;
    transition: 3s;
}
#header > #headerfirst > #sidenav > table
{
	font-size: 14px;
	text-align: center;
	font-weight: bold;
}
#header > #headerfirst > #sidenav > table > tbody > tr
{
	height: 40px;
	letter-spacing: 1px;
	border: 1px solid black;
	border-left: none;
	border-right: none;
}
#header > #headerfirst > #sidenav > table > tbody > tr > td > button
{
	width: 50%;
	left: 0;
	outline: none;
	border: 1.5px solid #0097e6;
	background-color: #fff;
	border-radius: 20px 20px 20px 20px;
	cursor: pointer;
	height: 25px;
}
#header > #headerfirst > #sidenav > table > tbody > tr > td > button:hover
{
	background-color: #0097e6;
	transition: .3s;
}
#header > #headerfirst > #sidenav > table > tbody > tr > td > button > a
{
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-weight: bolder;
	color: #0097e6;
}
#header > #headerfirst > #sidenav > table > tbody > tr > td > button:hover a
{
	color: #f5f6fa;
	transition: .3s;
}
#header > #headersecound
{
	width: 100%;
	height: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
}
#header > #headersecound > #label
{
	position: absolute;
	top: 15%;
	left: 5%;
}
#header > #headersecound > #label > label
{
	cursor: pointer;
}
#header > #headersecound > #label > label > a
{
	text-decoration: none;
	color: #747d8c;
}
#header > #headersecound > #addbutton
{
	width: 30%;
	height: 70%;
	position: absolute;
	top: 15%;
	right: 5%;
	display: inline;
}
#header > #headersecound > #addbutton > button
{
	display: inline-block;
	width: 35%;
	left: 0;
	height: 70%;
	outline: none;
	border: 1.5px solid #0097e6;
	background-color: #fff;
	margin-right: 10%;
	border-radius: 20px 20px 20px 20px;
	cursor: pointer;
}
#header > #headersecound > #addbutton > button:hover
{
	background-color: #0097e6;
	transition: .3s;
}
#header > #headersecound > #addbutton > button > a
{
	width: 100%;
	height: 100%;
	text-decoration: none;
	font-weight: bolder;
	color: #0097e6;
}
#header > #headersecound > #addbutton > button:hover a
{
	color: #f5f6fa;
	transition: .3s;
}
#header > #headersecound > #addbutton > h2
{
	width: auto;
    right: 0%;
    position: absolute;
    top: 20%;
}
@media (max-width:400px)
{
	#header > #headerfirst > #logo
	{
		width: 38%;
	}
	#header > #headerfirst > #logo > h2
	{
		font-size: 20px;
	}
	#header > #headerfirst > #barbutton
	{
		width: 38%;
		right: 0%;
	}
	#header > #headerfirst > #barbutton > h3
	{
		left: 60%;
		width: 100%;
	}
	#header > #headersecound > #addbutton
	{
		width: 50%;
		height: 66%;
		right: 0%;
	}
	#header > #headersecound > #addbutton > button
	{
		width: 48%;
		margin-right: 0%;
	}
	#header > #headersecound > #addbutton > button > a
	{
		font-size: 12px;
	}
	#header > #headerfirst > #sidenav > table
	{
		font-size: 13px;
	}
}
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}
input[type=date]::-webkit-inner-spin-button, 
input[type=date]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}