#footer
{
	width: 100%;
	height: 10%;
	position: absolute;
	bottom: 0;
	left: 0;	
}
#footer > #devlopername
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	border-top:1px solid #d0d0d0;
	border-radius:0 3px 3px 0;
	color:#444;
	font-weight:bold;
	text-shadow:0 1px 0 #fff;
}
#footer > #devlopername > h2,#footer > #devlopername > h3
{
	position: relative;
	width: auto;
	text-align: center;
	top: 30%;
	left: 50%;
	transform: translate(-50%,-50%);
	letter-spacing: 1px;
}
#footer > #devlopername > h3 > a
{
	text-decoration: none;
	color: unset;
}
#footer > #devlopername > h3 > a:hover
{
	color: #0097e6;
}
#footer > #devlopername > ul
{
	position: absolute;
	display: inline-block;
	width: 20%;
	text-align: center;
	top: 50%;
	left: 80%;
	transform: translate(-50%,-50%);
	letter-spacing: 1px;
}
#footer > #devlopername > ul > li
{
	display: inline-block;
	width: auto;
	margin: 5%;
}
#footer > #devlopername > ul > li > a
{
	text-decoration: none;
	color: unset;
}
#footer > #devlopername > ul > li > a > i:hover
{
	color: #0097e6;
}
@media (max-width:400px)
{
	#footer > #devlopername > h2
	{
		font-size: 18px;
	}
	#footer > #devlopername > h3
	{
		font-size: 16px;
	}
	#footer > #devlopername > ul
	{
		width: 30%;
		left: 85%;
	}
}