#outerbox
{
	width: 30%;
	height: 56%;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	border-radius: 25px 25px 25px 25px;
	border: 1px solid #d0d0d0;
}
#outerbox > #inner1
{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 15%;
	border-radius: 25px 25px 0px 0px;
	background-color: #0097e6;
	border-bottom: 1px solid #e4e4e4;
	color: #f5f6fa;
}
#outerbox > #inner1 > h2
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
}
#outerbox > #inner2
{
	position: absolute;
	top: 15%;
	left: 0;
	width: 100%;
	height: 85%;
	border-radius: 0px 0px 25px 25px;
}
#outerbox > #inner2 > form
{
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
	color: #747d8c;
}
#outerbox > #inner2 > form > #profilesection
{
	position: absolute;
	top: 0%;
	left: 0;
	width: 100%;
	height: 90%;
}
#outerbox > #inner2 > form > #profilesection > table
{
	position: absolute;
	width: 80%;
	top: 0%;
	left: 15%;
	font-size: 14px;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr
{
	height: 60px;
	letter-spacing: 1px;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > select
{
	width: 35%;
	position: absolute;
	top: 10%;
	right: 2.5%;
	background-color: transparent;
	outline: none;
	border:none;
	font-size: 18px;
	cursor: pointer;
	font-weight: bold;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > input
{
	border:none;
	border-bottom: 1px solid #e4e4e4;
	outline: none;
	margin-bottom: 6px;
	width: 80%;
	font-weight: bold;
	background-color: transparent;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > i
{
	cursor: pointer;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #error
{
	color: red;
	font-size: 13px;
	text-align: center;
	letter-spacing: 1px;
}
#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #error > p
{
	width: 80%;
    font-weight: bold;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton
{
	width: 85%;
	height: 14%;
	position: absolute;
	top: 81%;
	left: 18%;
	display: inline;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton > input
{
	width: 30%;
	display: inline;
	height: 100%;
	background-color: #0097e6;
	border: 1px solid #e4e4e4;
	border-radius: 20px 20px 20px 20px;
	outline: none;
	cursor: pointer;
	border: 1.5px solid #0097e6;
	background-color: #fff;
	color: #0097e6;
	font-weight: bolder;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton > input:nth-child(1)
{
	margin-right: 10%;
}
#outerbox > #inner2 > form > #profilesection > #submitbutton > input:hover
{
	background-color: #0097e6;
	color: #f5f6fa;
	transition: .3s;
}
#outerbox > #inner2 > form > #profilesection > #importantnote
{
	width: auto;
	height: auto;
	position: absolute;
	top: 100%;
	left: 12%;
	display: inline;
	font-size: 15px;
}
#outerbox > #inner2 > form > #profilesection > #importantnote > label > span
{
	font-size: 17px;
	font-weight: bold;
}
@media (max-width:400px)
{
	#outerbox
	{
		width: 80%;
		height: 60%;
	}
	#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > select
	{
		font-size: 17px;
		width: 40%;
	}
	#outerbox > #inner2 > form > #profilesection > table > tbody > tr > td > #error
	{
		font-size: 11.5px;
	}
	#outerbox > #inner2 > form > #profilesection > #importantnote
	{
		left: 6%;
	}	
}